# Python cache
__pycache__/
*.py[cod]
*.so

# Virtual environments
.env
.venv
env/
venv/
ENV/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VSCode
.vscode/

# OS-specific files
.DS_Store
Thumbs.db

# Logs
*.log

# Data folders (if large or generated)
data/


data/output/*
data/pdf_texts/*
data/pdf_tables/*